<div class="myClass" *ngIf="(this.article==null); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>LOADING...</ng-template>
<ng-template #elseBlock>
    <h3> <a [routerLink]="['/articles',this.article.id]">{{this.article.title}} </a></h3>
    <p> {{this.article.content}} </p>
    <p> {{this.article.author}} </p>
    <button (click)="delete()">Delete</button>
</ng-template>

