<form id="filter">
    <label>Filter for articles</label>
    <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"/>
</form>
<div *ngFor="let article of this.articles | articleFilter:term">
    <app-article [article]="article" (deletedArticle)="delete($event)"></app-article>
</div>